

/**
 * REM Mixin for px fallback
 *
 * @include font-size(14px);
 *
 * font-size: 14px;
 * font-size: 0.875rem;
 */


@function calculateRem($size) {
	$remSize: $size / 16px;
	@return $remSize * 1rem;
}

@mixin font-size($size) {
	font-size: $size;
	font-size: calculateRem($size);
}




/**
 * Simple breakpoint mixin
 *
 * @include bp-small { }
 */


@mixin bp-large {
	@media only screen and (max-width: 60em) {
		@content;
	}
}

@mixin bp-medium {
	@media only screen and (max-width: 40em) {
		@content;
	}
}

@mixin bp-small {
	@media only screen and (max-width: 30em) {
		@content;
	}
}




/**
 * Opacity mixin for old browsers
 *
 * @include opacity(0.8);
 */


@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie); //IE8
}