/* ==========================================================================
   Place all your variables here
   ========================================================================== */


/**
 * Font variables
 */


$base-font-size: 16px;
$base-line-height: 24px;

/**
 * Color variables
 */

// $main-blue: blue;
